<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This website is used to show weather of location. This uses mailBox and darksky api.</p>
    <img class="potrait" src="/img/pallav.JPG">
    </div>
    
    {{>footer}}
</body>

</html>